nav{
	background-color: rgba(0,0,0,0.5);
	padding: 10px 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}

nav .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#logo-link{
	line-height: 0;
}

#logo-link img{
	width: 140px;
}


nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}


nav a{
	padding: 1em;
	display: block;
	color: white;
	text-decoration: none;
}

nav li a:not([href]){
	pointer-events: none;
}


.container{
	max-width: 1170px;
	margin: auto;
}

.centerboridehi{
	text-align: center;
	color:red;
}